*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
$colP: #4fa8fb;
$colS: #ff7dd8;
$colT: #ff35c2;

$colA1:#9399ff;
$colA2:#989898;
$colA3:#7253ff;
$colA4:#ffffff;

$colB1:#608fff;
$colB2:#F473B9;
$colB3:#FFBDE6;
$colB4:#FFDDEE;


div,section,form,label,span,footer,button,input,nav,h1,h2,h3,img,picture,header,select,a,textarea{
    display: block;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    text-align: center;
}
button,input,textarea,select,textarea{
    background: #0000;
    outline: none;
    border: 0;
}
span{
    svg{
        color: black;
    }
}
html{
    font-size: 20px;
}
h1{font-size: 1.4rem;}
h2{font-size: 1.1rem;}
h3{font-size: 1rem;}
label,span,input,button,select,a,textarea{font-size: .85rem;}
input{
    padding: 0 10px;
    width: 100%;
}
picture{
    img{
        height: 100%;
    }
}
.busqueda{
    display: grid;
    grid-template-columns: 80% 1fr;
    gap: 3px;
    box-shadow: 0 0 2px #aaa;
    transition: .3s all;
    // box-shadow: 0 0 8px #ff0101;
    border-radius: 10px;
    .setionInput{
        padding: 10px 5px;
        display: grid;
        grid-template-columns: 30px 1fr;
        box-shadow: 0 0 3px #ffffff;
        margin-top: 5px;
        border-radius: 10px;
        transition: .4s all;
        input{
            color: #000;
        }
        span{
            display: grid;
            place-items: center;
            color:white;
        }
        &.act{
            box-shadow: 0 0 7px #ffffff;
        }
    }
    select{
        box-shadow: 0 0 2px #aaa;
        // border-left: 1px solid black;
    }
}
@media screen and (max-width:"500px") {
    html{
        font-size: 18px;
    }
}